@layer base {
  :root {
    --text: #041115;
    /* --background: #fbfdfe; */
    --background: #e9eff3;
    --primary: #299fd6;
    --secondary: #90a8ea;
    --tertiary: #4facd7;
    --accent: #5c5ce0;
    --footer: #86cef4;
  }
  .dark {
    --text: #eaf7fb;
    /* --background: #010304; */
    --background: #08232e;
    --primary: #299fd6;
    --secondary: #152d6f;
    --tertiary: #4facd7;
    --accent: #1f1fa3;
    --footer: #2f2546;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply px-3 py-2 text-text bg-primary hover:bg-secondary text-sm rounded transition-all;
  }
}
