@layer base {
  :root {
    --text: #041115;
    --background: #fbfdfe;
    --primary: #299fd6;
    --secondary: #90a8ea;
    --accent: #5c5ce0;
  }
  .dark {
    --text: #eaf7fb;
    --background: #010304;
    --primary: #299fd6;
    --secondary: #152d6f;
    --accent: #1f1fa3;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
